{% extends 'govuk/template.njk' %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}User Research Library{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/stylesheets/application.css" media="all" type="text/css" />
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    containerClasses: "govuk-width-container",
    serviceName: "User Research Library",
    serviceUrl: "../collections"
  }) }}
{% endblock %}

{% block main %}
    <main id="main" role="main">
      <div class="govuk-width-container">
        {{ govukPhaseBanner({
          tag: { text: "alpha" },
          html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
        }) }}
        {% block languageSelect %}{% endblock %}
        {% block backLink %}{% endblock %}
        <div id="main-content" class="govuk-main-wrapper">
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>
{% endblock %}
