{% extends '../helpers/govukTemplate.html' %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/projects",
    text: t("app:link.back")
  }) }}
{% endblock %}

{% block content %}

  {% if errors %}
    {{ govukErrorSummary({
      titleText: t("createProject:errors.header"),
      errorList: errors.errorSummary
    }) }}
  {% endif %}

  {% call govukFieldset({
    legend: {
      text: t("createProject:header"),
      classes: "govuk-fieldset__legend--xl",
      isPageHeading: true
    }
  }) %}

  <form method="post" action="create" autocomplete="off">

    {{ govukInput({
      label: {
        html: t("createProject:input.project_name.label")
      },
      id: "project-name",
      name: "project-name",
      errorMessage: errors.projectName
    }) }}

    {{ govukSelect({
        id: "phase",
        name: "phase",
        label: {
            text: t("createProject:select.phase.label")
        },
        items: [
            {
                value: "Alpha",
                text: t("createProject:select.phase.items.alpha"),
                selected: true                       
            },
            {
                value: "Beta",
                text: t("createProject:select.phase.items.beta")
            },
            {
                value: "Discovery",
                text: t("createProject:select.phase.items.discovery")
            },
            {
                value: "Live",
                text: t("createProject:select.phase.items.live")
            }
        ]
    }) }}

    {{ govukDateInput({
      id: "date-started",
      namePrefix: "date-started",
      fieldset: {
        legend: {
          text: t("createProject:input.date_started.label"),
          isPageHeading: false
        }
      },
      hint: {
        text: t("createProject:input.date_started.hint")
      }
    }) }}

    {{ govukDateInput({
      id: "date-ended",
      namePrefix: "date-ended",
      fieldset: {
        legend: {
          text: t("createProject:input.date_ended.label"),
          isPageHeading: false
        }
      },
      hint: {
        text: t("createProject:input.date_ended.hint")
      }
    }) }}

    {{ govukTextarea({
      name: "details",
      id: "details",
      label: {
        text: t("createProject:text_area.details.label")
      },
      hint: {
        text: t("createProject:text_area.details.hint")
      }
    }) }}

    {% endcall %}

    {{ govukInput({
      label: {
        html: t("createProject:input.key_contact_name.label")
      },
      classes: "govuk-!-width-two-thirds",
      id: "key-contact-name",
      name: "key-contact-name"
    }) }}

    {{ govukInput({
      label: {
        html: t("createProject:input.key_contact_email.label")
      },
      classes: "govuk-!-width-two-thirds",
      id: "key-contact-email",
      name: "key-contact-email",
      type: "email"
    }) }}

    {{ govukButton({
      text: t("app:button.submit"),
      preventDoubleClick: true
    }) }}

  </form>

    
{% endblock %}
