<main class="govuk-main-wrapper app-main-class search-page" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full bottom-spacing">
            <h1 class="govuk-heading-xl">User research library</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">

            <form method="GET">
                <h1 class="govuk-heading-m">Search projects</h1>

                <div class="govuk-form-group ">

                    <label class="govuk-label govuk-date-input__label">Keywords</label>
                    <input class="govuk-input" id="keywords" name="keywords" type="text" value="">

                </div>

                <div class="govuk-form-group ">

                    <label class="govuk-label govuk-date-input__label">Phase</label>
                    <select class="govuk-select" id="phase" name="phase">
                        <option selected value="__None">--</option>
                        <option value="1">Alpha</option>
                        <option value="2">Beta</option>
                        <option value="3">Discovery</option>
                        <option value="4">Live</option>
                    </select>

                </div>

                <div class="govuk-form-group ">

                    <label class="govuk-label govuk-date-input__label">Document type</label>
                    <select class="govuk-select" id="document_type" name="document_type">
                        <option selected value="__None">--</option>
                        <option value="5">Audio recording</option>
                        <option value="6">Customer journey map</option>
                        <option value="7">Discussion guide</option>
                        <option value="8">Insights</option>
                        <option value="9">Interview transcript</option>
                        <option value="10">Personas</option>
                        <option value="17">Presentation</option>
                        <option value="11">Research overview</option>
                        <option value="12">Research plan</option>
                        <option value="13">Service blueprint</option>
                        <option value="14">Survey results</option>
                        <option value="15">User needs</option>
                        <option value="16">Video recording</option>
                    </select>

                </div>

                <div class="govuk-form-group ">

                    <label class="govuk-label govuk-date-input__label">Started before</label>
                    <select class="govuk-select" id="started_before" name="started_before">
                        <option value="0">--</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                    </select>

                </div>

                <div class="govuk-form-group ">

                    <label class="govuk-label govuk-date-input__label">Started after</label>
                    <select class="govuk-select" id="started_after" name="started_after">
                        <option value="0">--</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                    </select>

                </div>

                <div class="govuk-form-group ">

                    <fieldset class="govuk-fieldset">
                        <div class="govuk-checkboxes" data-module="checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" data-aria-controls="status" id="status" name="status" type="checkbox" value="y">
                                <label class="govuk-label govuk-checkboxes__label" for="status">
                                    Only projects in progress
                                </label>
                            </div>
                        </div>
                    </fieldset>

                </div>

                <button class="govuk-button" type="submit" name="search" value="true">Search</button>
            </form>
        </div>
        <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-l">Collections</h2>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <ul class="govuk-list">

                <li>
                    <h3 class="govuk-heading-m">
    <a href="/collections/children-and-young-people/" class="govuk-link">Children and young people</a>
</h3>
                    <p>
                        Research to understand and meet the needs of children and young people.
                    </p>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </li>

                <li>
                    <h3 class="govuk-heading-m">
    <a href="/collections/community-groups/" class="govuk-link">Community groups</a>
</h3>
                    <p>
                        Research around voluntary and community organisations who work for the public benefit.
                    </p>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </li>

                <li>
                    <h3 class="govuk-heading-m">
    <a href="/collections/council-housing-tenants/" class="govuk-link">Council housing tenants</a>
</h3>
                    <p>
                        Research to understand and meet the needs of social housing tenants.
                    </p>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </li>

                <li>
                    <h3 class="govuk-heading-m">
    <a href="/collections/council-staff/" class="govuk-link">Council staff</a>
</h3>
                    <p>
                        Research to understand and meet the needs of local authority staff.
                    </p>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </li>

                <li>
                    <h3 class="govuk-heading-m">
    <a href="/collections/customer-accounts/" class="govuk-link">Council website account users </a>
</h3>
                    <p>
                        Research into users who access council websites and register/login for specific council services.
                    </p>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </li>

                <li>
                    <h3 class="govuk-heading-m">
    <a href="/collections/library-users/" class="govuk-link">Library users</a>
</h3>
                    <p>
                        Research to understand the needs of people who use libraries.
                    </p>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </li>

                <li>
                    <h3 class="govuk-heading-m">
    <a href="/collections/new-residents/" class="govuk-link">New residents</a>
</h3>
                    <p>
                        Research into people moving into a new area and what their needs are.
                    </p>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </li>

                <li>
                    <h3 class="govuk-heading-m">
    <a href="/collections/planning/" class="govuk-link">Planning applicants</a>
</h3>
                    <p>
                        Research around planning applications, planning decisions and building regulations.
                    </p>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </li>

                <li>
                    <h3 class="govuk-heading-m">
    <a href="/collections/council-suppliers/" class="govuk-link">Small businesses </a>
</h3>
                    <p>
                        Research to understand and meet the needs of small businesses.
                    </p>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </li>

                <li>
                    <h3 class="govuk-heading-m">
    <a href="/collections/user-researchers/" class="govuk-link">User researchers</a>
</h3>
                    <p>
                        Research to understand and meet the needs of user researchers and service designers within digital teams.
                    </p>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </li>

            </ul>

            <div class="pagination">

                <a href="/?page=2" class="govuk-heading-l">Next</a>

                <span class="govuk-heading-s">1 of 2</span>
            </div>

        </div>
    </div>
</main>

    