{% extends '../helpers/govukTemplate.html' %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-xl">Project</span>
            <h1 class="govuk-heading-xl">Best Start in Life - Improving outcomes for children aged 0-5</h1>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-body" style="margin-bottom: 0;">January 2019 - August 2020</p>
            <p class="govuk-body">Status: Active</p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Details</h2>
            <p class="govuk-body">
                Cambridgeshire and Peterborough councils are partnering with public health, CCG and other organisations to create a joint strategy and integrated delivery model to improve outcomes for children from pre-birth to age 5. The strategy is in it's final phases of development and the integrated delivery model will be shaped over the coming months. This will result in a joint programme of work, redesigning services around user need.
            </p>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <h3 class="govuk-heading-l">Phases</h2>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h4 class="govuk-heading-m">Discovery</h4>
                </div>
            </div>
        </div>

        <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-m">Collection</h3>
            <ul class="govuk-list">
                <li>
                    <a class="govuk-link govuk-!-font-size-24 govuk-!-font-weight-bold" href="#">Some Collection</a>
                </li>
            </ul>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            
            <p class="govuk-body govuk-!-font-size-24">Key Contacts</p>
            <ul class="govuk-list">
                <li>
                    <p class="govuk-body govuk-!-font-weight-bold" style="margin-bottom: 0;">John Smith</p>
                    <a class="govuk-link" href="#">john.smith@gmail.com</a>
                </li>
            </ul>
        </div>
    </div>


{% endblock %}