{% extends '../helpers/govukTemplate.html' %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-xl">Project</span>
            <h1 class="govuk-heading-xl">{{ projectName }}</h1>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p class="govuk-body" style="margin-bottom: 0;">{{ projectStartDate | date('MMMM YYYY') }} - {{ projectEndDate | date('MMMM YYYY') }}</p>
            <p class="govuk-body">Status: {{ projectPhase }}</p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Details</h2>
            <p class="govuk-body">{{ projectDetails }}</p>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <h3 class="govuk-heading-l">Phases</h2>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h4 class="govuk-heading-m">{{ projectPhase }}</h4>
                </div>
            </div>
        </div>

        <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-m">Collection</h3>
            <ul class="govuk-list">
                <li>
                    <a class="govuk-link govuk-!-font-size-24 govuk-!-font-weight-bold" href="#">Some Collection</a>
                </li>
            </ul>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            
            <p class="govuk-body govuk-!-font-size-24">Key Contacts</p>
            <ul class="govuk-list">
                <li>
                    <p class="govuk-body govuk-!-font-weight-bold" style="margin-bottom: 0;">{{ keyContactName }}</p>
                    <a class="govuk-link" href="mailto:{{ keyContactEmail }}">{{ keyContactEmail }}</a>
                </li>
            </ul>
        </div>
    </div>


{% endblock %}