{% extends '../helpers/govukTemplate.html' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block content %}

    <form method="post">
        {% call govukFieldset({
            legend: {
                text: t("signin:header"),
                classes: "govuk-fieldset__legend--xl",
                isPageHeading: true
            }
        }) %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

            {{ govukRadios({
            idPrefix: "sign-in",
            name: "sign-in",
            hint: {
                text: t("signin:radio.hint")
            },
            items: [
                {
                value: "google",
                text: t("signin:radio.item1.text"),
                label: {
                    classes: "govuk-label--s"
                },
                hint: {
                    text: t("signin:radio.item1.hint")
                }
                }
            ]
            }) }}

            </div>
        </div>

        {{ govukButton({
            text: t("app:button.continue")
        }) }}

        {% endcall %}
    </form>
    
    
{% endblock %}