{% extends '../helpers/govukTemplate.html' %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block content %}

  {% call govukFieldset({
    legend: {
      text: "Create Project",
      classes: "govuk-fieldset__legend--xl",
      isPageHeading: true
    }
  }) %}

    {{ govukInput({
      label: {
        html: "Project Name"
      },
      id: "project-name",
      name: "project-name"
    }) }}

    {{ govukSelect({
        id: "sort",
        name: "sort",
        label: {
            text: "Phase"
        },
        items: [
            {
                value: "1",
                text: "Alpha",
                selected: true                       
            },
            {
                value: "2",
                text: "Beta"
            },
            {
                value: "3",
                text: "Discovery"
            },
            {
                value: "4",
                text: "Live"
            }
        ]
    }) }}

  {% endcall %}

  {{ govukButton({
    text: "Confirm and send",
    preventDoubleClick: true
  }) }}

    
{% endblock %}
